<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1e30e80be2.js" crossorigin="anonymous"></script>

</head>
<body class="login">
    <header class="home__header"> 
        <div class="home__header__div-logo">
           <a href="/"><img class="home__header__img--logo" src="/images/logo-mercado-liebre.svg" alt="" width="320"></a> 
        
           <div class="home__header__input--caja"><form action=""><input type=""placeholder="Buscar productos"></form>
                <button class="home__header__search"><i class="fa-solid fa-magnifying-glass"></i></button></div>
            
               <p class="home__header__hand-holding"><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin tarjeta de crédito</p>
            </div>
    
        <div class="home__header__div--menu-1">
            <nav class="home__header__nav--menu-1">
                <ul class="home__header__nav__ul--menu-1">
                    <li><a  class="home__header__li__a--menu-1"href="#Ofertas">Ofertas</a></li>
                    <li><a  class="home__header__li__a--menu-1"href="#TiendasOficiales">Tiendas Oficiales</a></li>
                    <li><a  class="home__header__li__a--menu-1"href="#Vender">Vender</a></li>
                    <li><a  class="home__header__li__a--menu-1"href="#Ayuda">Ayuda</a></li>
                </ul>
            </nav>
        
        <div class="home__header__div--menu-2">   
            <nav class="home__header__nav--menu-2">
                <ul class="home__header__nav__ul--menu-2">
                    <li><a class="home__header__nav__a-menu-2" href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a class="home__header__nav__a-menu-2" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a class="home__header__nav__a-menu-2" href="#Miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </div> 
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
           
        </header>
        <main class="register__main">
            <section class="register__main__section">
                <h3 class="h3__title">Login de usuario</h3>
                <div class="register__main__section--general">
                    <form action="/register" method="POST">
                        <div class="login__usuario-contraseña">
                        <div class="nombre usuario">
                            <label for="usuario">Nombre de usuario:</label>
                            <input class="form__control--input" type="text" name="usuario">
                        </div>
                        <div class="contraseña">
                            <label>Contraseña</label>
                            <input class="form__control--input" type="password" name="clave" id="">
                        </div>
                    </div>
                    <div class="button-box">
                        <div class="button-enviar">
                            <a href="/"><button class="button__primary" type="submit">Enviar</button></a>
                        </div>
                    </div>
                        </form>
                        </div>
                        </section>
                        </main>
                        </body>
                        <footer class="home__footer">
                            <section class="home__footer__section">
                                <article class="home__footer__section__article">
                                <ul class="home__footer__section__article__ul">
                                    <li class="home__footer__section__article__ul__li">
                        
                                       <p class="home__footer__icon"><i class="fa-solid fa-credit-card"></i></p>
                                        <p class="home__footer__section__article__ul__li__p">Pagá con tarjeta o en efectivo</p>
                        
                                        <p class="home__footer__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo 
                                            en puntos de pagos. ¡Y siempre es seguro!</p>
                                        
                                    </li>
                                </ul>
                            </article>
                            </section>
                            <section class="home__footer__section">
                                <article class="home__footer__section__article">
                                <ul class="home__footer__section__article__ul">
                                    <li class="home__footer__section__article__ul__li">
                                        <p class="home__footer__icon"><i class="fa-solid fa-gift"></i></p>
                                       <p class="home__footer__section__article__ul__li__p">Envío gratis desde $ 2.500</p>
                                        <p class="home__footer__p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. 
                                            Es un beneficio de Mercado Puntos.</p>
                                    </li>
                                </ul>
                            </article>
                            </section>
                            <section class="home__footer__section">
                                <article class="home__footer__section__article">
                                <ul class="home__footer__section__article__ul">
                                    <li class="home__footer__section__article__ul__li__p">
                                        <p class="home__footer__icon3"><i class="fa-solid fa-user-shield"></i></p>
                                        <p class="home__footer__section__article__ul__li__p">Seguridad, de principio a fin</p>
                                        <p class="home__footer__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                                            por que estás siempre protegid@</p>
                                    </li>
                        
                                </ul>
                            </article>
                            </section>
                            <section class="home__footer__section">
                                <article class="home__footer__section__article">
                                <ul class="home__footer__section__article__ul">
                                    <li class="home__footer__section__article__ul__li">
                                        <p class="home__footer__p">Copyright <i class="fa-regular fa-copyright"></i>  1999-2020 Mercado Liebre S.R.L</p>
                                    </li>
                                </ul>
                            </article>
                            </section>
                        </footer>
                        </html>