<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1e30e80be2.js" crossorigin="anonymous"></script>

</head>
<body class="register">
    <header class="home__header"> 
        <div class="home__header__div-logo">
           <a href="/"><img class="home__header__img--logo" src="/images/logo-mercado-liebre.svg" alt="" width="320"></a> 
        
           <div class="home__header__input--caja"><form action=""><input type=""placeholder="Buscar productos"></form>
                <button class="home__header__search"><i class="fa-solid fa-magnifying-glass"></i></button></div>
            
               <p class="home__header__hand-holding"><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin tarjeta de crédito</p>
            </div>
    
        <div class="home__header__div--menu-1">
            <nav class="home__header__nav--menu-1">
                <ul class="home__header__nav__ul--menu-1">
                    <li><a  class="home__header__li__a--menu-1"href="#Ofertas">Ofertas</a></li>
                    <li><a  class="home__header__li__a--menu-1"href="#TiendasOficiales">Tiendas Oficiales</a></li>
                    <li><a  class="home__header__li__a--menu-1"href="#Vender">Vender</a></li>
                    <li><a  class="home__header__li__a--menu-1"href="#Ayuda">Ayuda</a></li>
                </ul>
            </nav>
        
        <div class="home__header__div--menu-2">   
            <nav class="home__header__nav--menu-2">
                <ul class="home__header__nav__ul--menu-2">
                    <li><a class="home__header__nav__a-menu-2" href='./register'>Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a class="home__header__nav__a-menu-2" href="#Ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a class="home__header__nav__a-menu-2" href="#Miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </div> 
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
           
        </header>
</body>
</html>