.home__header__div-logo {
    padding: 20px;
    margin: 0 0 15px;
    width: 180px;
}

.home__header__img--logo {
    width: 100%;
    padding: 0;
    margin-top: 15px;
    margin-left: 15px;
}

.home__header__input {
    padding: 0;
    margin-left: 20px;
}

.home__header__search {
    padding: 0;
    margin-left: 20px;
}

.home__header__hand-holding {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px 0 0 0;
}

.home__header__li__a--menu-1 {
    font-size: 12px;   
    display:inline-block;
    color: var(--colorNegro);
}

.home__header__nav__a-menu-2 {
    font-size: 12px;
    display:inline-block;
    color: var(--colorNegro);
}

.home__header__nav__ul--menu-2 {
    padding-top: 10px;
}

.burger-menu {
    text-align: center;
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    display: block;
    margin: 30px auto 30px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 5px;
}

.burger-menu i {
    text-align: center;
}

.home__header__div--banner {
    display: none;
    width: 100%;
    position: left;
    text-align: left;
}

.home__main__section__ul__article__p__h2-title {
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.home__main__div__product--ultimas-vistas-description-h4 {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__section__ul__li__h2-ofertas {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 15px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__div__product--ultimas-vistas-precio-h4 {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__div__product--ultimas-vistas-descuento-h4 {
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__div__product--ultimas-vistas-description-h4 {
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__div__image-ofertas-precio {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__div__image-ofertas-descuento {
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
}

.home__main__div__image-ofertas-description {
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 30px;
}

.home__footer__section__article__ul__li__p {
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--colorNegro);
    
}

.home__footer__p {
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
    color: var(--colorGrisOscuro);
    margin-bottom: 30px;
}

.home__footer__icon {
    text-align: center;
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}